
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.Car {
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes wheels {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(0, 5%);
    }
}

.Car__body {
    position: relative;
    background-color: #fbdcb3;
    display: block;
    width: 38vw;
    height: 20vw;
    border-radius: 100% 90% 5% 5%;
    animation-name: wheels;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
    animation-duration: 1s;
}

.Car__roof {
    background-color: black;
    position: absolute;
    width: 32vw;
    height: 10vw;
    bottom: 118%;
    left: 10%;
    border-radius: 20% 100% 0 0;
}

.Car__top {
    position: absolute;
    background-color: #fbdcb3;
    width: 30vw;
    height: 20vw;
    border-radius: 50% 50% 0 0;
    left: 45%;
    top: -20%;
    transform: translate(-50%, 0);
}

.Car__top:before {
    content: '';
    position: absolute;
    width: 50%;
    height: 30%;
    left: 10%;
    top: 10%;
    border-radius: 100% 10% 0 0;
    background-color: rgba(255, 255, 255, .7);
}

.Car__top:after {
    content: '';
    position: absolute;
    width: 28%;
    height: 30%;
    left: 64%;
    top: 10%;
    border-radius: 10% 100% 0 0;
    background-color: rgba(255, 255, 255, .7);
}

.Car__wheel {
    position: absolute;
    bottom: -2.5vw;
}

.Car__wheel_tire {
    position: relative;
    display: block;
    background-color: #3e3e3e;
    border-radius: 50%;
    margin: 0;
    width: 8vw;
    height: 8vw;
    z-index: 1;
    animation-name: wheels;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-duration: .1s;
}

.Car__wheel_tire:after {
    content: '';
    background-color: rgba(255, 255, 255, .8);
    position: absolute;
    width: 70%;
    height: 70%;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.Car__wheel:before {
    content: '';
    position: absolute;
    background-color: #242424;
    width: 110%;
    height: 90%;
    border-radius: 100% 100% 0 0;
    left: -5%;
    bottom: 2.5vw;
    z-index: 0;
}

.Car__wheel--back {
    left: 10%;
}

.Car__wheel--front {
    right: 10%;
}

/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/


@media (min-width: 1281px) {

    .Car__body {
        width: 60vw;
    }

    .Car__wheel_tire {
        width: 20vw;
        height: 20vw;
    }

    .Car__top {
        width: 30vw;
        top: -40%;
    }

    .Car__roof {
        top: -90%;
        left: 15%;
        transform: rotate(-10deg);
    }
}




/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
    .Car__body {
        width: 50vw;
    }


    .Car__wheel_tire {
        width: 13vw;
        height: 13vw;
    }

}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {


}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {


}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {


}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

    .Car__roof {
        display: none;
    }
}